<ion-header>
  <ion-toolbar>
    <ion-title>
      Página no encontrada
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Error 404</ion-card-title>
    </ion-card-header>

    

    <ion-card-content>
      <p>La página que estás buscando no existe regresa al login y vuelve a intentarlo.</p>
    </ion-card-content>
  </ion-card>

  <div class="ion-text-center">
    <ion-button expand="full" routerLink="/login">Ir al inicio de sesión</ion-button>
  </div>
</ion-content>
